<h1 class="title">Events</h1>
      <% if(events.length === 0) {%>
        Vous n'avez aucun événements
      <% } else { %>
          <ul>
              <% events.forEach(event => { %>
                  <li>
                      <%= event.name %> (<%= event.place %>)
                      <a href=<%= `/events/${event.id}` %>><button>See details</button></a>
                  </li>
              <% }) %>
          </ul>
      <% } %>
      <a href="events/new"><button>'Ajouter un événements</button></a>