<div class="row">
    <div class="col s12 center-align">
        <h3 class="title">Événements</h3>
    </div>
    
    <% if(events.length === 0) {%>
    Vous n'avez aucun événements
    <% } else { %>
        <ul class="collection with-header ">
            <% events.forEach(event => { %>
                <li class="collection-item flow-text centered-item">
                    <div>
                        <%= event.name %> <br /> 
                        <span style="font-style: italic; font-size: 0.8em;"><%= event.place %></span>
                      <!--  <a href=<%= `/events/${event.id}` %> class="secondary-content"><i class="material-icons">send</i></a>  -->
                      <a href=<%= `/expenses/event/${event.id}` %> class="secondary-content"><i class="material-icons">send</i></a> 
                    </div>
                </li>
            <% }) %>
        </ul>
    <% } %>
    <a href="events/new"><button class="btn btn-block waves-effect waves-light col m6 offset-m3">Ajouter un événement<i class="material-icons right">send</i></button></a>
</div>

