<body>
    <form method="POST" action="/login">
        <p>Email : <input type="text" name="email"></p>
        <p>Password : <input type="text" name="password"></p>
        <p><button type="submit">Login</button></p>
</form>