<!DOCTYPE html>
<html>
<head>
    <title>Nouveau utilisateur</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">Vacances Entre amis </h1>

<p id="bienvenue">Bienvenue sur notre site</p>
<p id="texte_accroche"> Notre site vous permet de gérer vos dépenses et vos trajets en groupes en partant en vacances.
Il vous permettra principalement de faire des balances des comptes, mais vous pourrez gérer vos trajets et le couchage.
</p>
<a href="/users/new"><button>Inscription</button></a>
<a href="/users/login"><button>Connexion</button></a>
</body>
</html>