<div class="row">
    <div class="col s12 center-align">
        <h3 class="title">expense détail</h3>
    </div>
    
    <% if(expense === undefined ) {%>
    Vous n'avez aucun événements
    <% } else { %>
        <ul class="collection with-header ">
                <li class="collection-item flow-text centered-item">
                    <div>
                        <%= expense.name %> <br /> 
                        le total : <%= expense.total %> <br />
                        <% expense.participants.forEach(participant => { %>
                            <%= participant.user.pseudo %> a payé <%= participant.amount %> <br />
                            <% }) %>
                    </div>
                </li>
            </ul>
    <% } %>
</div>

