<div class="row">
    <div class="col s12 center-align">
        <h3 class="title">info dépense</h3>
    </div>
    
    <% if(expense === undefined ) {%>
    Vous n'avez aucun événements
    <% } else { %>
        <ul class="collection with-header ">
                <li class="collection-item flow-text centered-item">
                    <div>
                        Titre de la dépense : <%= expense.name %> <br /> 
                        Total payé : <%= expense.total %> <br />
                        Détail payé : <br />
                        <ul>
                        <% expense.participants.forEach(participant => { %>
                           <li> <%= participant.user.pseudo %> a payé <%= participant.amount %> </li>
                            <% }) %>
                        </ul>
                    </div>
                </li>
            </ul>
    <% } %>
</div>

