<div class="row">
    <div class="col s12 center-align">
        <h3 class="title">Expense</h3>
    </div>
    
    <% if(expenses.length === 0) {%>
    Vous n'avez aucune dépense
    <% } else { %>
        <ul class="collection with-header ">
            <% expenses.forEach(expense => { %>
                <li class="collection-item flow-text centered-item">
                    <div>
                        <%= expense.name %> <br />
                        total : <%= expense.total %> <br />
                        <a href=<%= `/expenses/${expense.id}` %> class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>
            <% }) %>
        </ul>
    <% } %>
</div>