<div class="row">
    <div class="col s12 p-b5">
        <h3 class="center-align blue-grey-text text-lighten-5 text-darken-1">
			Dépenses
		</h3>	
    </div>
	
	<div class="col s12 m8 offset-m2 p-b3">
		<% if(expenses.length === 0) {%>
			<p class="center-align">Vous n'avez aucune dépense</p>
		<% } else { %>
			<ul class="collection with-header ">
				<% expenses.forEach(expense => { %>
					<li class="collection-item flow-text centered-item">
						<div>
							<%= expense.name %> <br />
							total : <%= expense.total %> <br />
							<a href=<%= `/events/${expense.eventId}/expenses/${expense.id}` %> class="secondary-content"><i class="material-icons">send</i></a>
						</div>
					</li>
				<% }) %>
			</ul>
		<% } %>
	</div>

    <div class="col s10 m4 offset-s1 offset-m4">
			<a href=<%= `/events/${evid}/expenses/new` %> class="btn btn-block waves-effect waves-light">Ajouter une dépense <i class="material-icons right">send</i></a>
		</div>
</div>