<% if (!failedFields) { var failedFields = [] } %>
<% if (!errors) { var errors = {} } %>
<% if (!values) { var values = {} } %>
<div class="row">

    <div class="col s12 center-align">
        <h3 class="p1">Création d'événement</h3>
    </div>

    <form class="col s10 offset-s1" method="POST">

        <!-- name -->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="material-icons prefix">mode_edit</i>
                <input id="pseudo" type="text" name="pseudo" minlength="6" required class="validate"
                    value=<%= values.pseudo %>
                >
                <label for="pseudo">Name</label>
                <% failedFields.filter((error) => error.path.join("/") === "pseudo").forEach((error) => { %>
                    <span class="ml3 red-text text-accent-2 form-error">
                        <small><%= error.message %></small>
                    </span>
                <% }) %>
            </div>
        </div>

        <div class="row m3">
            <button class="btn btn-block waves-effect waves-light col m6 offset-m3" type="submit" name="action">Ajouter un partipant
                <i class="material-icons right">send</i>
            </button>
        </div>

    </form>
</div>