<% if (!failedFields) { var failedFields = [] } %>
<% if (!errors) { var errors = {} } %>
<% if (!values) { var values = {} } %>
<div class="row">

    <div class="col s12 center-align">
        <h3>Ajouter un participant</h3><small class="grey-text text-darken-1"><%= event.name %></small>
    </div>

    <form class="col s10 offset-s1" method="POST">

        <!-- name -->
        <div class="row mb0">
            <div class="input-field col s8 m6 offset-m1">
                <i class="material-icons prefix">person</i>
                <select id="selected-participant">
                    <option value="" disabled selected>Ajouter un participant</option>
                    <% for(let participant of participants ) { %>
                        <option value=<%= participant.id %>><%= participant.pseudo %></option>
                    <% } %>
                </select>
                <label>Participants</label>
            </div>
            <div class="row m3">
                <div class="input-field col s1">
                    <button class="btn waves-effect waves-light" type="button" onclick="addParticipant()">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>

<script>
    function addParticipant() {
        let collection = document.querySelector("#added-participants")
        let select = document.querySelector("#selected-participant")
        let option = select.selectedOptions[0]

        if ( option.value ) {
            let userId = option.value
            let userPseudo = option.text


            let li = document.createElement('LI')
            let uuid = uuidv4()

            li.setAttribute('id', `participant-${uuid}`)
            li.classList.add('collection-item')
            li.text = ``
            li.innerHTML = `
            <button class="btn-floating btn-small waves-effect waves-light red lighten-1 mr1" onclick="removeParticipant('${uuid}')" type="button">
                <i class="material-icons">delete</i>
            </button>
            ${userPseudo}: ${amount} €
            <input type="hidden" name="participants" value=${userId}>

            `

            collection.appendChild(li)

            //* Cleaning fields
            let e = document.querySelector("#selected-participant")
            e.value = ""
            M.FormSelect.init(e);

        }

    }

    function removeParticipant(uuid) {
        let elem = document.querySelector(`#participant-${uuid}`)
        let parent = elem.parentNode
        parent.removeChild(elem)
    }

    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }
</script>