<div class="row">
	<div class="col s12 p-b5">
		<h3 class="center-align blue-grey-text text-lighten-5 text-darken-1">
			Participants
		</h3>			
	</div>

	<div class="col s12 m8 offset-m2 p-b3">
		<% if ( users.length === 0 ) { %>
			<p class="center-align flow-text">Vous n'avez aucune dépense</p>
		<% } else { %>
			<ul class="collection">
				<% for ( let user of users ) { %>
					<li class="collection-item">
						<div>
							<%= user.pseudo %>
						</div>
					</li>
				<% } %>
			</ul>
		<% } %>
	</div>

	<div class="col s10 offset-s1 m4 offset-m4">
		<a href=<%=`/events/${event.id}/users/new`%> class="btn btn-block waves-effect waves-light">Ajouter un participant <i class="material-icons right">send</i></a>
	</div>
</div>