<div class="col s12">
	
	<div class="row">
		<div class="col s12 p-t5 p-b5">
			<h3 class="center-align blue-grey-text text-lighten-5 text-darken-1">
				Événements
			</h3>
			
		</div>

		<div class="col s12 m8 offset-m2 p-b3">
			<% if ( events.length === 0 ) { %>
				<p class="center-align flow-text">Vous n'avez aucun événements</p>
			<% } else { %>
				<ul class="collection">
					<% for ( let event of events ) { %>
						<li class="collection-item">
							<div>
								<%= event.name %>
								<div class="secondary-content row m-b0">

									<div class="col p-r0 p-l0">
										<span>30</span>
									</div>
									<div class="col p-l0">
										<i class="material-icons">person</i>
									</div>

									<div class="col">
										<span>300 €</span>
									</div>

									<div class="col">
										<a href=<%=`/events/${event.id}`%> class="secondary-content">
											<i class="material-icons">info</i>
										</a>
									</div>
								</div>
							</div>
						</li>
					<% } %>
				</ul>
			<% } %>
		</div>

		<div class="col s10 m4 offset-s1 offset-m4">
			<a href="events/new" class="btn btn-block waves-effect waves-light">Ajouter un événement<i class="material-icons right">send</i></a>
		</div>
	</div>
</div>
