<!DOCTYPE html>
<html>
<head>
    <title>Nouveau utilisateur</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">Connexion Vacances Entre amis </h1>

    <form method="POST" action="/users/login">
        <p>Email : <input type="text" name="email"></p>
        <p>Password : <input type="text" name="password"></p>
        <p><button type="submit">Login</button></p>
</form>

</body>
</html>