<!DOCTYPE html>
<html>
<head>
    <title>Nouveau utilisateur</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">Inscription </h1>
<form name="user" method="POST" action="/users/new">
    <table>
        <!--champ de saisi pseudo-->
             <tr>
                <% if (!failedFields) { var failedFields = []} %>
                <% if (!values) { var values = {}} %>
                <td>Entrer un pseudo</td>
                <td><input type="text" id="pseudo" name="pseudo"  required value=<%= values.pseudo %> ></td>
              </tr>

              <!-- champ de saisi email -->
              <tr>
                  <% if (!failedFields) { var failedFields = []} %>
                  <% if (!values) { var values = {}} %>
                  <td>Entrer votre email</td>
                  <td><input type="email" id="email" name="email" value=<%= values.email %>></td>
               </tr>

            <!-- champ de saisi password -->
                 <tr>
                     <% if (!failedFields) { var failedFields = []} %>
                     <% if (!values) { var values = {}} %>
                     <td>Entrer un password</td>
                     <td><input type="password" id="password" name="password" required value=<%= values.password %>></td>
                  </tr>

                  <!-- bouton enregistrer -->
                   <tr>
                       <td colspan="2"><input class="btn btn-block waves-effect waves-light col m6 offset-m3" type="submit" value="Enregistrer"></td>
                   </tr>

    </table>
</form>

</body>
</html>